//
// topbar.scss
//

// .navbar-custom {
//   min-height: $topbar-height;

//   .topbar-left {
//     background-color: $bg-topbar;
//     height: $topbar-height;
//     position: fixed;
//     z-index: 1;
//     width: $leftbar-width;
//     text-align: center;
//     top: 0;
//     left: 0;

//     .logo {
//       line-height: $topbar-height;

//       i {
//         display: none;
//       }
//     }
//   }

//   .topbar-right-menu {
//     li {
//       float: left;
//       max-height: $topbar-height;

//       &.show {
//         .nav-link {
//           color: $gray-700;
//         }
//       }
//     }

//     .nav-link {
//       padding: 0;
//       color: $gray-600;
//       min-width: 32px;
//       display: block;
//       text-align: center;
//       margin: 0 10px;
//       border: 0;
//     }
//   }

//   @media (max-width: 768px) {
//     .topbar-right-menu {
//       min-width: 100%;
//     }
//   }
// }

// /* Search */

// .app-search {
//   .form-control {
//     padding-left: 2.5rem;
//     background-color: $bg-topbar;
//     padding-right: 35px;
//   }

//   span {
//     width: 2.5rem;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//   }

//   span.clear {
//     right:75px;
//     cursor: pointer;
//   }

//   .input-group-append {
//     margin-left: 0;
//     z-index: 4;
//   }
// }

// .profile-dropdown {
//   width: 170px;

//   i,
//   span {
//     vertical-align: middle;
//   }
// }

// // TopBar Dark
// .topnav-navbar-dark {
//   background-color: $bg-topbar-dark;

//   .nav-user {
//     background-color: lighten($bg-topbar-dark, 5%);
//     border: 1px solid lighten($bg-topbar-dark, 7.5%);
//   }

//   .topbar-right-menu {
//     li {
//       &.show {
//         .nav-link {
//           color: $white;
//         }
//       }
//     }
//   }

//   .app-search {
//     .form-control {
//       background-color: $bg-topbar-dark-search;
//       color: $white;
//     }

//     span {
//       color: $gray-600;
//     }
//   }
// }

.topbar-custom {
  .navbar-nav {
    .nav-item {
      .nav-link {
        cursor: pointer;
        color: $topbar-link;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        padding: 0px;
        border-bottom: 2px solid transparent;
        opacity: 0.9;
        transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        -webkit-transition: opacity 0.24s ease-in-out;
        &:hover {
          @media screen and (min-width: 769px) {
            border-color: $topbar-link-active;
          }
          @media screen and (max-width: 768px) {
            color: $topbar-link-active;
          }
        }
      }
      .active {
        opacity: 0.9;
        transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        -webkit-transition: opacity 0.24s ease-in-out;
        @media screen and (min-width: 769px) {
          border-color: $topbar-link-active;
        }
        @media screen and (max-width: 768px) {
          color: $topbar-link-active;
        }
      }
    }
  }
}
